node_modules
npm-debug.log
.git
Dockerfile
*.md

# Local Terraform directories
.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variables files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
